# Build .NET
bin/
obj/

# User-specific
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log
logs/

# Database files
*.db
*.db-journal
Migrations/

# Others
*.DS_Store
Thumbs.db

# Node.js / React
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build output React (dist/build)
dist/
build/

# Coverage (testes)
coverage/

# Temp files
*.tmp
*.temp
